<div class="container-fluid header">
  <div class="row header-top"></div>
  <div class="row header-content">
    <div class="col-xs-1">
      <img src="./assets/images/Back.png" class="custom-img" alt="Back Button" width="25" height="25">
    </div>
    <div class="col-xs-9">
      <span class="title">Romantic Comedy</span>
    </div>
    <div class="col-xs-0">
      <img class="search-img" src="./assets/images/search.png" alt="Search Button" width="25" height="25">
    </div>
  </div>
  <div class="row header-bottom"></div>
</div>